<!-- CSS & Fonts for Footer -->
<link rel="stylesheet" href="../partial/navbar-footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

<!-- Footer -->
<footer class="footer">
    <div class="container footer-grid">
        <div class="footer-item">
            <i class="icon fa-regular fa-envelope"></i>
            <h3>HUBUNGI EMAIL</h3>
            <p>pptsbpbangi@gmail.com</p>
        </div>
        <div class="footer-separator"></div>
        <div class="footer-item">
            <i class="icon fa-solid fa-phone-volume"></i>
            <h3>TALIAN PEJABAT</h3>
            <p>03 - 4567 8980</p>
        </div>
        <div class="footer-separator"></div>
        <div class="footer-item">
            <i class="icon fa-solid fa-globe"></i>
            <h3>PORTAL RASMI</h3>
            <p>www.thestrata.com.my</p>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; 2024 JMB The Strata Bandar Puteri Bangi. Hak Cipta Terpelihara.</p>
        </div>
    </div>
</footer>